# Project exclude paths
/target/

# ignore datasets
/src/main/resources/dataset_*
/pre-processing/enron/
/pre-processing/hamnspam_kaggle/
/pre-processing/dataset_enron.arff
/pre-processing/dataset_with_html.arff
/models/
/.idea/
dataset_*
